In [1]:
import pandas as pd
import numpy as np
import pickle 
import os

In [2]:
# Load dataset
url = 'data/adult/adult.csv'
df = pd.read_csv(url)
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [3]:
col_names = df.columns
for i in col_names:
    df[i] = df[i].replace('?', np.NaN)
    
df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['divorced','married','married','married',
              'not married','not married','not married'], inplace = True)

In [4]:
# Label encoding
from sklearn import preprocessing
category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'gender', 'native-country', 'income'] 
labelEncoder = preprocessing.LabelEncoder()

mapping_dict={}
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])
    le_name_mapping = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))
    mapping_dict[col]=le_name_mapping
print(mapping_dict)

{'workclass': {'Federal-gov': 0, 'Local-gov': 1, 'Never-worked': 2, 'Private': 3, 'Self-emp-inc': 4, 'Self-emp-not-inc': 5, 'State-gov': 6, 'Without-pay': 7}, 'race': {'Amer-Indian-Eskimo': 0, 'Asian-Pac-Islander': 1, 'Black': 2, 'Other': 3, 'White': 4}, 'education': {'10th': 0, '11th': 1, '12th': 2, '1st-4th': 3, '5th-6th': 4, '7th-8th': 5, '9th': 6, 'Assoc-acdm': 7, 'Assoc-voc': 8, 'Bachelors': 9, 'Doctorate': 10, 'HS-grad': 11, 'Masters': 12, 'Preschool': 13, 'Prof-school': 14, 'Some-college': 15}, 'marital-status': {'divorced': 0, 'married': 1, 'not married': 2}, 'occupation': {'Adm-clerical': 0, 'Armed-Forces': 1, 'Craft-repair': 2, 'Exec-managerial': 3, 'Farming-fishing': 4, 'Handlers-cleaners': 5, 'Machine-op-inspct': 6, 'Other-service': 7, 'Priv-house-serv': 8, 'Prof-specialty': 9, 'Protective-serv': 10, 'Sales': 11, 'Tech-support': 12, 'Transport-moving': 13}, 'relationship': {'Husband': 0, 'Not-in-family': 1, 'Other-relative': 2, 'Own-child': 3, 'Unmarried': 4, 'Wife': 5}, 'gender': {'Female': 0, 'Male': 1}, 'native-country': {'Cambodia': 0, 'Canada': 1, 'China': 2, 'Columbia': 3, 'Cuba': 4, 'Dominican-Republic': 5, 'Ecuador': 6, 'El-Salvador': 7, 'England': 8, 'France': 9, 'Germany': 10, 'Greece': 11, 'Guatemala': 12, 'Haiti': 13, 'Holand-Netherlands': 14, 'Honduras': 15, 'Hong': 16, 'Hungary': 17, 'India': 18, 'Iran': 19, 'Ireland': 20, 'Italy': 21, 'Jamaica': 22, 'Japan': 23, 'Laos': 24, 'Mexico': 25, 'Nicaragua': 26, 'Outlying-US(Guam-USVI-etc)': 27, 'Peru': 28, 'Philippines': 29, 'Poland': 30, 'Portugal': 31, 'Puerto-Rico': 32, 'Scotland': 33, 'South': 34, 'Taiwan': 35, 'Thailand': 36, 'Trinadad&Tobago': 37, 'United-States': 38, 'Vietnam': 39, 'Yugoslavia': 40}, 'income': {'<=50K': 0, '>50K': 1}}

In [5]:
#droping redundant columns
df=df.drop(['fnlwgt','educational-num'], axis=1)

In [6]:
df

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,3,1,2,6,3,2,1,0,0,40,38,0
1,38,3,11,1,4,0,4,1,0,0,50,38,0
2,28,1,7,1,10,0,4,1,0,0,40,38,1
3,44,3,15,1,6,0,2,1,7688,0,40,38,1
4,18,3,15,2,9,3,4,0,0,0,30,38,0
5,34,3,0,2,7,1,4,1,0,0,30,38,0
6,29,3,11,2,9,4,2,1,0,0,40,38,0
7,63,5,14,1,9,0,4,1,3103,0,32,38,1
8,24,3,15,2,7,4,4,0,0,0,40,38,0
9,55,3,5,1,2,0,4,1,0,0,10,38,0
10,65,3,11,1,6,0,4,1,6418,0,40,38,1
11,36,0,9,1,0,0,4,1,0,0,40,38,0
12,26,3,11,2,0,1,4,0,0,0,39,38,0
13,58,3,11,1,9,0,4,1,0,0,35,38,0
14,48,3,11,1,6,0,4,1,3103,0,48,38,1
15,43,3,12,1,3,0,4,1,0,0,50,38,1
16,20,6,15,2,7,3,4,1,0,0,25,38,0
17,43,3,11,1,0,5,4,0,0,0,30,38,0
18,37,3,11,2,6,4,4,0,0,0,20,38,0
19,40,3,10,1,9,0,1,1,0,0,45,38,1
20,34,3,9,1,12,0,4,1,0,0,47,38,1
21,34,3,15,2,7,3,2,0,0,0,35,38,0
22,72,3,5,0,9,1,4,0,0,0,6,38,0
23,25,3,9,2,9,1,4,1,0,0,43,28,0
24,25,3,9,1,9,0,4,1,0,0,40,38,0
25,45,5,11,1,2,0,4,1,7298,0,90,38,1
26,22,3,11,2,0,3,4,1,0,0,20,38,0
27,23,3,11,2,6,4,2,1,0,0,54,38,0
28,54,3,11,1,2,0,4,1,0,0,35,38,0
29,32,5,15,2,9,1,4,1,0,0,60,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,3,9,2,9,1,1,0,0,0,99,38,0
48813,34,3,10,1,9,0,4,1,0,0,60,38,1
48814,54,3,9,1,3,0,1,1,0,0,50,23,1
48815,37,3,15,0,0,4,4,0,0,0,39,38,0
48816,22,3,2,2,10,3,2,1,0,0,35,38,0
48817,34,3,9,2,3,1,4,0,0,0,55,38,1
48818,30,3,11,2,2,1,2,1,0,0,46,38,0
48819,38,3,9,0,9,4,2,0,15020,0,45,38,1
48820,71,3,10,1,9,0,4,1,0,0,10,38,1
48821,45,6,11,2,0,3,4,0,0,0,40,38,0
48822,41,3,11,2,9,1,2,0,0,0,32,38,0
48823,72,3,11,1,9,0,4,1,0,0,25,38,0
48824,45,1,7,0,9,4,4,0,0,0,48,38,0
48825,31,3,12,0,7,1,3,0,0,0,30,38,0
48826,39,1,7,1,0,5,4,0,0,0,20,38,1
48827,37,3,7,0,12,1,4,0,0,0,40,38,0
48828,43,3,11,1,6,0,4,1,0,0,40,25,0
48829,65,5,14,2,9,1,4,1,1086,0,60,38,0
48830,43,6,15,0,0,2,4,0,0,0,40,38,0
48831,43,5,15,1,2,0,4,1,0,0,50,38,0
48832,32,3,0,1,5,0,0,1,0,0,40,38,0
48833,43,3,8,1,11,0,4,1,0,0,45,38,0
48834,32,3,12,2,12,1,1,1,0,0,11,35,0
48835,53,3,12,1,3,0,4,1,0,0,40,38,1
48836,22,3,15,2,10,1,4,1,0,0,40,38,0
48837,27,3,7,1,12,5,4,0,0,0,38,38,0
48838,40,3,11,1,6,0,4,1,0,0,40,38,1
48839,58,3,11,2,0,4,4,0,0,0,40,38,0
48840,22,3,11,2,0,3,4,1,0,0,20,38,0
48841,52,4,11,1,3,5,4,0,15024,0,40,38,1

In [7]:
X = df.values[:, :12]
Y = df.values[:, 12]

In [9]:
# train, test split
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)
cfl = DecisionTreeClassifier(random_state = 100)
cfl.fit(X_train, y_train)
y_pred = cfl.predict(X_test)
accuracy_score(y_test, y_pred)

0.8145089742714803

In [12]:
# save model checkpoint
pickle.dump(cfl, open("models/model.pkl","wb"))